





.icon-facebook {
    background-image: url('./assets/img/facebook.png');
}

.icon-youtube {
    background-image: url('./assets/img/youtube.png');
}

.icon-instagram {
    background-image: url('./styles/assets/img/instagram.png');
}


footer{
    background-color: aqua;
}