


.container-form {
    background: var(--primary, #0B181E);
    color: white;
    text-align: center;
    font-family: Raleway;
    display: flex;
    height: 939px;
    width: 1217px;
    padding: 50px 76px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
    flex-shrink: 0;
}

footer{
    background: var(--primary, #0B181E);
    text-align: center;
    color: white;
}

button{
    display: flex;
    width: 126px;
    height: 43px;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--light, #FFF);
    background: var(--light, #FFF);
}